version: '3.4'

services:
  auth:
    build:
      context: .
      target: development

    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      JWT_ACTIVATION_SECRET: ${JWT_ACTIVATION_SECRET}
      JWT_PASSWORD_SECRET: ${JWT_PASSWORD_SECRET}
      API_URL: ${API_URL}
      CLIENT_URL: ${CLIENT_URL}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_USER: ${EMAIL_USER}
      production: ${production}

    volumes:
      - ./:/app/
      - /app/node_modules

    ports:
      - '4000:4000'

    command: npm run dev
